body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1146px;
  margin: auto;
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit;
}
.button {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}
.search-panel {
  height: 50px;
  background-color: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding-left: 22px;
  padding-right: 22px;
  background: #fff;
}
.search-button {
  border: none;
  background: #256eeb;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin-left: 15px;
}
.card-title {
  color: #256eeb;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  margin-top: 12px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.card-price {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.page-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}
.aside-card {
  margin-bottom: 25px;
}
.aside-card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.aside-card-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text,
.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #c4c4c4;
}
.footer-menu-item {
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link-bold {
  color: #0a143a;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
